*{
    margin: 0;
    padding: 0;
}
.manu-container{
    background-color: rgb(41, 40, 40);
    color: white;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}
.logo-light{
    width: 120px;
}
.manu{
    list-style: none;
    display: flex;
}
.item{
    margin: 10px;
    padding-right: 10px;
    font-size: 16px;
    cursor: pointer;
}
.item:hover{
    color: aqua;
}
.photo-1{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh; /*vh means the height take exect size of your screen */
    align-items: center;
    color: white;
    background-image: url('../images/img/background.png'),
    linear-gradient(45deg, #090909,#2f2e2e);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.para{
    margin: 15px 0;
    font-size: 18px;
}
section div button{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
}
/* Second section start */
.second-container{
    display: flex;
    align-items: center;
    gap: 170px;
    /* margin: 30px 90px; */
    padding: 30px 90px ;
}
.photo-2{
    width: 300px;
}
.head{
    text-align: center;
    font-size: 50px;
    margin: 25px 0;
}
.paragraph{
    margin: 14px 0;
}
/* Last section */
.last-div{
    display: flex;
    /* text-align: center; */
    justify-content: space-around;
}
.sector{
    background-image: url('../images/img/black-background.webp'),
    linear-gradient(45deg,#101010,#fbf7f7);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.same{
    width: 230px;
    height: 250px;
    box-shadow: 4px 4px 15px gray;
    background-color: black;
    text-align: center;
    color: white;
    padding: 15px;
}
.image{
    width: 70px;
}
.btn{
    background-color: gray;
}
.headsir{
    margin: 10px 0;
    font-size: 25px;
}
.lastpara{
    margin-bottom: 10px;
}
